body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: scroll;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  padding-left: 16px;
  padding-right: 16px;
}

.section-1 {
  display: flex;
  justify-content: space-evenly;
  background-color: #1f2937;
  padding: 20px;
}

.container-1 {
  width: 300px;
  height: 100;
}

.section-2 {
   text-align: center;
  
}

.imagediv {
   display: flex;
   justify-content: space-evenly;

}
.section-2-image {
   height: 100px;
   width: 90px;
}

.singleimagediv {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;

}

.section-3{
  background-color: #E5e7eb;
  padding: 32px 70px;
  font-family:italic;
  color: black;
  font: size 36px; ;

}

.image {
  border: 2px solid green;
  box-sizing: border-box;
  margin: 32px;
  height: 200px;
  width: 300px;
}
.section-4 {

}

.call-to-action {
  background-color: #3882f6;
  display: flex;
 margin: 32px 80px;
 padding: 20px;
 justify-content: space-evenly;
}

div>div>h3 {
  color: white;
}
#hero-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
#logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.signup-btn {
  background-color: #3882f6;
  color: #f9faf8;
  height: 30px;
  width: 90px;
  border-radius: 10px;
  border: 1px solid white;
}

a,div > div > p {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

ul {
  display: flex;
  gap: 16px;
}

li {
  list-style-type: none;
}

.body {
  flex: auto;
}

.footer {
   display: flex;
   padding: 20px;
   justify-content: center;
   align-items: center;
  background-color:  #1f2937;
  color:#e5e7eb;
  
}